
h1 {
    text-align: center;
}

.chrono {
    margin: auto ;
    width: 300px;
    text-align: center;
}

.timer {
    margin: auto;
    width: 300px;
    border: 1px solid rgba(0,0,0,0.5);
    padding:5px 0;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#save {
    margin-top: 10px;
}

#list {
    text-align: center;
    margin-top: 40px;
    
}

#btn {
    margin-top: 30px;
    
}

@media print { 

    .chrono {
       display: none;
    }
}

